CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

DB_HOST=
DB_NAME=
DB_USER=
DB_PASS=
DATABASE_URL=

ADMIN_USER=
ADMIN_PASS=
SECRET_KEY=

ASAAS_API_URL=
ASAAS_API_KEY=
ASAAS_WEBHOOK_TOKEN=

WHATSAPP_NUMBER=
STORE_PICKUP_ADDRESS=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
